@page
@model RohanPingisProject.Pages.IndexModel
@{
    ViewData["Title"] = "Start";
}

<div class="hero-container">
    <a asp-page="MatchHistory/TopTen" class="topten-icon">
        <img src="~/img/top10-icon4.png" alt="Top 10" />
    </a>
</div>
